@using TrustGuard.Models;
@using TrustGuard.Services;
@inject IApplicationService appService;
@inject IJwtSettings settings;

@{
    int? index = Context.Request.Query.ContainsKey("id") ? Convert.ToInt32(Context.Request.Query["id"]) : null;
    ApplicationDetailsModel? details = await appService.GetApplicationDetailsAsync(index);
}
@if(details != null)
{
    <section style="background-color: #a2b8d3;">
        <div class="container-fluid"><br/>
            <div class="row">
                <div class="col-4" id="appName">
                    <img src="/Home/Show/?id=@details.Id" width="64" height="64" />
                    <h4 id="title">@details.AppName</h4>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-4">
                            <p style="color: #493b3b;">Usage</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <strong style="margin-left: 10%; color: #376137;">@details.ConnectedUsers</strong>
                        </div>
                    </div>
                </div>
            </div><br/>
            <div class="row">
                <div class="col-4">
                    <span style="margin-left: 5%; color: #4c4975;">Modified At</span>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                    <p>@details.ModifiedAt.ToString("dd-MM-yyyy HH:mm:ss")</p>
                </div>
            </div><hr/>
            <h5 style="margin-left: 8%; color: #292b2c;">Description</h5>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">@Html.Raw(details.Description)</div>
                <div class="col-1"></div>
            </div><hr/>
            <h5 style="margin-left: 8%; color: #292b2c;">How to use</h5><br/>
            @if(details.AppType == 1)
            {
                <div class="row" style="margin-left: 15%; width: 64%;">
                    <div class="col-2">
                        <small>Auth Endpoint:</small>
                    </div>
                    <div class="col-8">
                        <input id="auth" class="form-control form-control-sm" style="width: 300px;" type="text" value="@(settings.Issuer)Home/Auth/" readonly />
                    </div>
                    <div class="col-2">
                        <a class="btn btn-sm btn-primary" style="margin-left: -200px; border-radius: 50%; text-decoration: none;" onclick="CopyTo('auth')" title="Copy">
                            <span class="fa fa-solid fa-copy"></span>
                        </a>
                    </div>
                </div><br/>
                <div class="row" style="margin-left: 15%; width: 64%;">
                    <div class="col-2">
                        <small>Revoke Endpoint:</small>
                    </div>
                    <div class="col-8">
                        <input id="revoke" class="form-control form-control-sm" style="width: 300px;" type="text" value="@(settings.Issuer)Home/Revoke/" readonly />
                    </div>
                    <div class="col-2">
                        <a class="btn btn-sm btn-primary" style="margin-left: -200px; border-radius: 50%; text-decoration: none;" onclick="CopyTo('revoke')" title="Copy">
                            <span class="fa fa-solid fa-copy"></span>
                        </a>
                    </div>
                </div><br/>
            }
            else
            {
                <div class="row" style="margin-left: 15%; width: 64%;">
                    <div class="col-2">
                        <small>Auth Endpoint:</small>
                    </div>
                    <div class="col-8">
                        <input id="auth" class="form-control form-control-sm" style="width: 300px;" type="text" value="@(settings.Issuer)api/Auth/" readonly />
                    </div>
                    <div class="col-2">
                        <a class="btn btn-sm btn-primary" style="margin-left: -200px; border-radius: 50%; text-decoration: none;" onclick="CopyTo('auth')" title="Copy">
                            <span class="fa fa-solid fa-copy"></span>
                        </a>
                    </div>
                </div>
                <br />
                <div class="row" style="margin-left: 15%; width: 64%;">
                    <div class="col-2">
                        <small>Refresh Endpoint:</small>
                    </div>
                    <div class="col-8">
                        <input id="refresh" class="form-control form-control-sm" style="width: 300px;" type="text" value="@(settings.Issuer)api/Auth/Refresh/" readonly />
                    </div>
                    <div class="col-2">
                        <a class="btn btn-sm btn-primary" style="margin-left: -200px; border-radius: 50%; text-decoration: none;" onclick="CopyTo('refresh')" title="Copy">
                            <span class="fa fa-solid fa-copy"></span>
                        </a>
                    </div>
                </div><br/>
                <div class="row" style="margin-left: 15%; width: 64%;">
                    <div class="col-2">
                        <small>Revoke Endpoint:</small>
                    </div>
                    <div class="col-8">
                        <input id="revoke" class="form-control form-control-sm" style="width: 300px;" type="text" value="@(settings.Issuer)api/Auth/Revoke/" readonly />
                    </div>
                    <div class="col-2">
                        <a class="btn btn-sm btn-primary" style="margin-left: -200px; border-radius: 50%; text-decoration: none;" onclick="CopyTo('revoke')" title="Copy">
                            <span class="fa fa-solid fa-copy"></span>
                        </a>
                    </div>
                </div>
                <br/>
            }
        </div>
    </section>
}
