@using TrustGuard.Models;
@using TrustGuard.Services;
@inject IApplicationService applicationService;

@{
    ViewData["Title"] = "My Apps";
    int? page = Context.Request.Query.Keys.Contains("page") 
        ? Convert.ToInt32(Context.Request.Query["page"]) : null;

    ApplicationResultModel result = await applicationService.GetApplicationsAsync(page);
    ApplicationViewModel[]? applications = result.ApplicationViewModels;
    int nextPage = 0;
    int previousPage = page != null ? page.Value - 1 : 1;
    int mainPage = page != null ? page.Value : 1;

    if (previousPage <= 0)
    {
        previousPage = 1;

        if (previousPage < result.Pages)
            nextPage = 2;
    }

    if (mainPage <= result.Pages - 1)
        nextPage = mainPage + 1;
}
@if (applications != null && applications.Length > 0)
{
    <table class="table table-light table-hover" id="products" style="margin-left: 10%; width: 80%;">
        <thead>
            <tr>
                <th style="background-color: #506983; color: white;">#</th>
                <th style="background-color: #506983; color: white;">App Name</th>
                <th style="background-color: #506983; color: white;">Client Id</th>
                <th style="background-color: #506983; color: white;">Created At</th>
                <th style="background-color: #506983; color: white;">Modified At</th>
                <th style="background-color: #506983; color: white;">App Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ApplicationViewModel app in applications)
            {
                <tr>
                    <td id="appField">
                        <a href="/Home/About/?id=@app.Id">
                            <img src="/Home/Show/?id=@app.Id&logo=true" alt="@app.AppName" width="64" height="64" />
                        </a>
                    </td>
                    <td id="appField">
                        <small>@app.AppName</small>
                    </td>
                    <td id="appField">
                        <small>@app.ClientId</small>
                    </td>
                    <td id="appField">
                        <small>@app.CreatedAt.ToString("dd-MM-yyyy HH:mm tt")</small>
                    </td>
                    <td id="appField">
                        <small>@app.ModifiedAt.ToString("dd-MM-yyyy HH:mm tt")</small>
                    </td>
                    <td id="appField">
                        @if(app.AppType == 1)
                        {
                            <span class="fa fa-desktop text-primary" style="font-size: 20px !important; margin-left: 25%; margin-top: 10%;"></span>
                        }
                        else if(app.AppType == 2)
                        {
                            <span class="fa fa-mobile text-primary" style="font-size: 20px !important; margin-left: 25%; margin-top: 10%;"></span>
                        }
                        else
                        {
                            <span class="fa fa-gamepad text-primary" style="font-size: 20px !important; margin-left: 25%; margin-top: 10%;"></span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row" style="margin-left: 10%; margin-bottom: 4%;">
        <div class="col-4">
            <span style="font-weight: bold; color: #c2dcfd;">Total <small style="font-weight: bold; color: #52627b !important;">@result.Results</small> Results</span>
        </div>
        <div class="col-8">
            @if (result.Pages > 1)
            {
                <nav id="navigation">
                    <ul class="pagination">
                        @if (mainPage > 1)
                        {
                            <li class="page-item"><a class="page-link" href="/Home/?page=@previousPage">&lt;&lt;</a></li>
                            <li class="page-item"><a class="page-link" href="/Home/?page=@previousPage">@previousPage</a></li>
                        }
                        <li class="page-item active"><a class="page-link" style="color: #ffa571 !important;">@mainPage</a></li>

                        @if (nextPage <= result.Pages && mainPage < result.Pages)
                        {
                            <li class="page-item"><a class="page-link" href="/Home/?page=@nextPage">@nextPage</a></li>
                        }

                        @if (nextPage <= result.Pages && mainPage < result.Pages)
                        {
                            <li class="page-item"><a class="page-link" href="/Home/?page=@nextPage">&gt;&gt;</a></li>
                        }
                    </ul>
                </nav>
                <br />
                <br />
            }
        </div>
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Nu exista produse disponibile</h4>
        <p>Momentan, nu au fost adaugate produse, pentru aceasta categorie ori se efectueaza lucrari de mentenanta.<br />Ne cerem scuze pentru inconvenient, vom analiza problema care a aparut, de aceea va rugam sa reveniti mai tarziu.</p>
        <hr>
        <p class="mb-0">In curand, administratorii vor analiza daca a aparut o problema in privinta produselor disponibile.</p>
    </div>
}